<div class="card">
    <h5>Vertical with Content</h5>

    <div class="formulario">

        <div class="login">
            <div class="p-field">
                <label for="username">Username</label>
                <input pInputText id="username" type="text" />
            </div>
            <div class="p-field">
                <label for="password">Password</label>
                <input pInputText id="password" type="password" />
            </div>
            <p-button label="Login" class="button"></p-button>
        </div>

        <div class="p-col-2">
            <p-divider layout="vertical">
                <b>OR</b>
            </p-divider>
        </div>

        <div class="registro">
            <p-button label="Sign Up" icon="pi pi-user-plus" styleClass="p-button-success"></p-button>
        </div>
    </div>
</div>